/* Page 1 basics */

body {
  height: 100vh;
}

h1 {
  font-size: 80px;
  padding: 50px;
}

.user-input {
  border: rgb(83, 161, 175) solid;
}

#instructions {
  font-size: 30px;
  color: white;
}

#map {
  height: 800px;
  width: 90%;
  padding: 50px;
  margin: auto;
  visibility: hidden;
}

a {
  color: white;
}

h1,
h3 {
  text-align: center;
}

h3 {
  padding-top: 50px;
  font-style: italic;
}

.btn-light {
  width: 80%;
  margin: .5em 0;
}

#submit-search,
#reset-search {
  font-size: 20px;
  padding: 1em 2em;
}

#reset-search {
  visibility: hidden;
}